
{% load static  %}
{% load crispy_forms_tags %}  
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         
         <!-- google font  -->
         <link rel="preconnect" href="https://fonts.gstatic.com">
         <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
         <link href="{% static 'images/emporium_black.png' %}" rel="shortcut icon" type="image/x-icon">
         <link href="/stylesheets/css_Sanford.css" rel="stylesheet" type="text/css" />
    
         <!--FontAwesome CSS-->
         <link rel="stylesheet" href="{% static '/css/all.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static '/css/mystyle.css' %} "type="text/css"/>
</head>
<body>
<h1 style="text-align: center;">Reset your password</h1>
<hr>
<div class=" card mx-auto  fback" style="max-width: 400px; margin-top:10px;">


  <div class="card-body ">

      <div  style="text-align: center; text-"> <img src="{% static 'images/emporium_black.png' %}" width="40" height="40"><b> eMPORIUM</b></div>
  </div>
  
  <div class=" card mx-auto faback " style="height: 550px; width: 350px; margin-top: 20 px;" >
      <div class="card-body ">
        <h4 class="card-title mb-4">Change Password</h4>
        <hr>
        <div class="container">
            <div class="row">
              <p>Please enter your new password twice:</p>
              <form action="." method="post">{{ form|crispy }}{% csrf_token %}
                <br>
                <button class="btn btn-success" style="text-align: center;"> Change Password</button>
              </form>
            </div>
        </div>
      </div>
    
  </div>


 
</div>

</body>