{% load static  %}
{% load crispy_forms_tags %}  
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         
         <!-- google font  -->
         <link rel="preconnect" href="https://fonts.gstatic.com">
         <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
         <link href="{% static 'images/emporium_black.png' %}" rel="shortcut icon" type="image/x-icon">
         <link href="/stylesheets/css_Sanford.css" rel="stylesheet" type="text/css" />
    
         <!--FontAwesome CSS-->
         <link rel="stylesheet" href="{% static '/css/all.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static '/css/mystyle.css' %} "type="text/css"/>
</head>
<body>
  <br>
  <br><br>
  <div class=" card mx-auto  fback" style="max-width: 450px; margin-top:10px;">


    <div class="card-body ">

        <div  style="text-align: center; "> <img src="{% static 'images/emporium_black.png' %}" width="40" height="40"><b> eMPORIUM</b></div>
    </div>
    
    <div class=" card mx-auto faback " style="height: 250px; width: 400px; margin-top: 20 px;" >
        <div class="card-body ">
              <h3>Successful Password Reset!</h3>
              <br>
              <p> You can now use your new password to login into your <b> eMPORIUM</b> account.</p>
              <br>
              <div class="d-grid gap-2">
                <a href ="{% url 'login' %}"class="btn btn-success btn-lg btn-block width-90" role="button">Back To Login</a>
              </div>

          </div>
      </div>
  </div>
</body>