body{
    color: #1a202c;
    
    text-align: left;
    background-color: #FFFFFF;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(245, 245, 245);
    background-clip: border-box;
    border: 0 solid rgba(49, 46, 46, 0.125);
    border-radius: .25rem;
}
.categorybox {
    position: relative;
    left: 110px;
    font-size: 15px;

}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #ffffff;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.profcard {
    background: transparent;
    
}






#order{
	
	background-color: rgba(241, 232, 232, 0.87);
	border-radius: 4px;
	padding: 10px;
	margin: 20px;
}
.row-image{
	height: 150 px;
	width: 200 px;
}
.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    
    

}
.cart-ro{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    

}
.edit{
	margin: 10px;
	background-color: yellow;
	padding: 10px;
}

.profile_back{
    background: #ffffff;

}
.fback{
   background-color: #adcfec;
   border-radius: 15px;

}
.fabackk{
    margin-top: 020 px;
    background-color: white;

    border-radius: 15px;
 
 }
.resetttt{
    background-color: whitesmoke;
}
.faback{
    color: black;
    
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: white;
}
.profile{
    
    color: white;
    
    background: linear-gradient(180deg, #000000 37.81%, #718DF0 91.98%);
    border-radius: 27px;
}
.drpdwn{
    background-color: rgb(0, 0, 0);
}

.textt{
    color: #8d8d8a;
}
.navbar{
    background-color:black;
    font-size: large;
    color-adjust: red;
}
.navbar a {
    color: white;
    
}
.kallu{
    text-align: center;
    margin-left: 50%;
}
.isa_info {
    margin: 10px 0px;
    padding:12px;
     
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8
}
.btn-default{
    background-color: rgb(27, 23, 20);
    color: white;
    border: none;
    height: 40px;
}
.btn-def{
    background-color: rgba(91, 106, 243, 0.849);
    color: white;
    border: none;
    height: 40px;
}
.btn-pri{
    background-color: rgba(0, 154, 243, 0.849);
    color: white;
    border: none;
    height: 40px;
    float: right;
    border-width: 50px;
    margin-right: 20px;
}

.ship{
    background-color: crimson;
}
.ok{
    margin-left: 40px;
}
.btn-bu{
    background-color: rgba(0, 154, 243, 0.849);
    color: white;
    border: none;
    height: 40px;
    float: left;
    border-width: 50px;
    margin-right: 20px;
    border-radius: 5px;
}
.cropped1{
    width: 312px; /* width of container */
    height: 250px; /* height of container */
   
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */ 
    overflow: hidden;
}

.product_name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}
.textsize{
    font-size: small;
    text-decoration: none;
    color: rgb(63, 56, 56);
}
.btn-but{
    background-color: rgba(0, 154, 243, 0.849);
    color: white;
    border: none;
    height: 40px;
    float: center;
    border-width: 50px;
    margin-right: 20px;
    border-radius: 10px;
}
.nam{
    padding-left: 175px;
}
.okk{
    height: 650px;
    width: 200px;
}
.imageee{
    
   
    max-width:400px;
    max-height:350px;
    width: auto;
    height: auto;
  
}
.riight{
    float: right;
}
.oshu{
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 300%;
    font-weight: bold;
}
.ishwor{
    height: 20 px;
}
.oskan{
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 400%;
    color: black;
    font-weight: bold;
}

.left{
    float: left;
}
.right{
    float: right;
}

.forfaq{
    text-align: left;
}

.ourheading{
    text-align: center;
    font-size: 250%;
    color: black;
    font-weight:500;
   

}
.remove-box{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: white;  
}

.no-outline:focus {
    outline: none;
}
.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}