body{
    color: #1a202c;
    
    text-align: left;
    background-color: #eae7dc;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(53, 47, 47);
    background-clip: border-box;
    border: 0 solid rgba(49, 46, 46, 0.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}








#order{
	
	background-color: rgba(241, 232, 232, 0.87);
	border-radius: 4px;
	padding: 10px;
	margin: 20px;
}
.row-image{
	height: 150 px;
	width: 200 px;
}
.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}
.edit{
	margin: 10px;
	background-color: yellow;
	padding: 10px;
}

.profile_back{


    
    background: #DEE7F1;

}
.profile{
    
    color: white;
    
    background: linear-gradient(180deg, #000000 37.81%, #718DF0 91.98%);
    border-radius: 27px;
}
.textt{
    color: #8d8d8a;
}
.navbar{
    background-color:black;
    font-size: large;
    color-adjust: red;
}
.navbar a {
    color: white;
    
}