{% extends 'base.html' %}

{% block title %}Category{% endblock title %}

{% block body %}


<div class="ourheading">Category: {{cat}}</div>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for product in products %}
 <div class="col-md-3">
		<div class="card card-product-grid">
      <a href="{{ product.get_url }}" class="img-wrap cropped1"> <img src="{{ product.image.url }}"
           class="d-block w-100" alt="..."></a>
     <div class="card-body">

            <div  class='card-body left product_name'>{{product.name}} </div>
           <div class='card-body right'>Rs.{{product.price}} </div>
                
                </div>
              <div class="d-grid gap-2">
              

              <a href="{% url 'addtocarts' product.slug %}" class="btn btn-primary btn-lg btn-block width-100" role="button">Add to Cart</a>
             
           
</div>
				
		</div>
	</div> 
      {% endfor %}
    </div>
    <br>
    <br>
<a class="btn btn-dark " href="{% url 'index' %}">Back to Home</a>


    {% endblock body %}