{% extends 'base.html' %}
{% load static %}
{% block title %}Myorder{% endblock title %}
{% block body %}

<div class="ourheading">Order Summary</div>


{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show mt-3 mx-5" role="alert">
     {{ message }} 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


<div class="row">
    <div class="col-lg-8">
      <div class="box-element "id = "order">

        
        <!-- loop here-->
        {% for cart in carts%}
        <div class="cart-row">
          
         
          <div style="flex:2"><img src="{{cart.product.image.url}}" class="img-fluid img-thumbnail shadow-sm" height="100" width="150"></div>
          <div style="flex:4">
              <h6><strong> {{cart.product.name}}</strong></h6>
              <h6>{{cart.product.description}}</h6>
              <h6>Price : Rs. {{cart.product.price}}</h6>

        
          </div>
          <div style="flex:1">
              <br>
              <br>
              <h6>{{cart.quantity}}</h6>
          </div>
         
        </div>
        {% endfor %}
      </div>
    </div>

    <div class = "col-lg-3">
        <div class="box-element" id = "order">
           
            <a  class="btn btn-dark" href="{% url 'showcart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h6>Product total: Rs. {{totalamount}}</h6>
            <h6>Service charge: Rs. 20</h6>
            <h6>Shipping fee: Rs. 50</h6>
            <br>
            
            <hr>
            <h6><strong>Total: Rs. </strong><strong text-align = "right">{{grandtotal}}</h6>

        </div>
        <div class="box-element" id = "order">
        <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
            <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" checked="" name="cod" id="cod">
                  <label class="form-check-label" for="cod">
                    Cash On Delivery
                  </label>
                </div>
          <button type="submit" class="btn btn-dark" >Confirm</button>
        </form>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="box-element " id = "order">
        <div class="cart-row">
            <div style="flex:2">
                <h5>Shipping To:</h5>
                <h6>{{user.first_name}} {{user.last_name}}</h6>
                <h6>Contact No: {{profile.phone_number}}</h6>
                <h6>Address: {{profile.locale}}, {{profile.area}}</h6>
                <h6>Location: {{profile.city}}, {{profile.region}}</h6>
            </div>
            <div style="flex:2">
                <h5>Payment Options:</h5>
                <h6>
                  Cash On Delivery
                
            </div>
           
        </div>
        

      </div>
    </div>
  </div>






{% endblock body %}

