{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock title %}

{% block body %}
<div class="editprofile" >
    <form action="editprofile" method="post">
    {% csrf_token %}
    <hr>
    <div class="mt-3 mx-5">
    <h1>Edit Own Info</h1>
        <label for="exampleInputPassword1" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firstname" value="{{user.first_name}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="lastname" value="{{user.last_name}}">
    </div>
    {% if pro %}
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Phone Number</label>
        <input type="Integer" class="form-control" name="phone_number" value="{{pro.phone_number}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Region</label>
        <input type="text" class="form-control" name="region" value="{{pro.region}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">City</label>
        <input type="text" class="form-control" name="city" value="{{pro.city}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Area</label>
        <input type="text" class="form-control" name="area" value="{{pro.area}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Locale</label>
        <input type="text" class="form-control" name="locale" value="{{pro.locale}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Google Maps Link</label>
        <input type="text" class="form-control" name="gmap" value="{{pro.gmap}}">
    </div>
    {% endif %}
    <div class="mt-3 mx-5">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <hr>
    </form>
</div>
{% endblock body %}