{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock title %}
{% load static %}
{% block body %}

<div class=" card mx-auto  fback" style="max-width: 465px; margin-top:30px;">


	<div class="card-body ">

		<div style="text-align: center; "> <img src="{% static 'images/emporium_black.png' %}" width="40" height="40"><b>
				eMPORIUM</b></div>
	</div>

	<div class=" card mx-auto faback " style="height: 565px; width: 400px; margin-top: 20 px;">
		<div class="card-body ">
			<div class="form-row">
				<h5 class="card-title mb-4">Edit Own Info</h5>

                <form action="editprofile" method="post">
                {% csrf_token %}

                <div class="form-row">
                    <div class="row">
                        <div class="col">

                            <label for="exampleInputPassword1" class="form-label">First Name</label>

                            <input type="text" class="form-control" name="firstname" placeholder="First Name"value="{{user.first_name.title}}">
                        </div>

                        <div class="col ">
                            <label for="exampleInputPassword1" class="form-label">Last Name</label>

                            <input type="text" class="form-control" name="lastname" placeholder="Last Name"value="{{user.last_name.title}}">
                        </div>
                    </div>
                  
                {% if pro %}
                <div class="form-row">
                    <div class="row">
                        <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                        <input type="Integer" class="form-control" name="phone_number" value="{{pro.phone_number}}">
                    </div>
                </div>
                </div>
                {%if pro.is_seller %} 
                <div class="form-row">
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label">Pan Number</label>
                            <input type="Integer" class="form-control" name="pan" value="{{pro.pan}}">
                        </div>
                        
                    </div>
                </div>
                {% else %}
                    <input type="hidden" class="form-control" name="pan" value="0">
                {% endif %} 
                <div class="form-row">
                    <div class="row">
                        <div class="col ">
                            <label for="exampleInputPassword1" class="form-label">Region</label>
                            <input type="text" class="form-control" name="region" value="{{pro.region}}">
                        
                        </div>
                        <div class="col ">
                            <label for="exampleInputPassword1" class="form-label">City</label>
                            <input type="text" class="form-control" name="city" value="{{pro.city}}">
                
                        </div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="row">
                        <div class="col ">
                            <label for="exampleInputPassword1" class="form-label">Area</label>
                            <input type="text" class="form-control" name="area" value="{{pro.area}}">
                        </div> 
                        <div class="col ">
                            <label for="exampleInputPassword1" class="form-label">Locale</label>
                            <input type="text" class="form-control" name="locale" value="{{pro.locale}}">
                         </div>
                        </div>
                
                <div class="form-row">
                    <div class="row">
                        <div class="col ">
                            <label for="exampleInputPassword1" class="form-label">Google Maps Link</label>
                            <input type="text" class="form-control" name="gmap" value="{{pro.gmap}}">
                        </div>
                    </div>
                </div>
                <br>
                {% endif %}
                <div style="text-align: center;">

                <button type="submit" class="btn btn-success">Submit</button>
                </div>
                
                </form>
</div>
{% endblock body %}