{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block body %}
{% for mes in messages %}

<div class="alert alert-success alert-dismissible fade show mt-3 mx-5" role="alert">
  <strong> {{ mes }} !!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/banner1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/banner1.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>

         <a class="btn btn-primary dropdown-toggle categorybox" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa fa-bars"></i> Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

          {% for cat in category %}
         
  
          <li><a class="dropdown-item" href="{% url 'category' cat %}">{{cat}}</a></li>
      
            {% endfor %}
          </ul>
        
<section class="section-name padding-y-sm">
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for product in products %}
 <div class="col-md-3">
		<div class="card card-product-grid">
      <a href="{{ product.get_url }}" class="img-wrap cropped1"> <img src="{{ product.image.url }}"
           class="d-block w-100" alt="..."></a>
     <div class="card-body">

            <div  class='card-body left product_name'>{{product.name}} </div>
           <div class='card-body right'>Rs.{{product.price}} </div>
                
                </div>
              <div class="d-grid gap-2">
              <a href="{% url 'productdetail' product.slug %}" class="btn btn-success  btn-lg btn-block width-100 " role="button">View Item</a>

              <a href="{% url 'addtocarts' product.slug %}" class="btn btn-primary btn-lg btn-block width-100" role="button">Add to Cart</a>
             
           
</div>
				
		</div>
	</div>
  
          
      {% endfor %}
    </div>
     <br>
    <br>
    <h1> Feedback Form: </h1>
    <hr>
    <form action ="/" method="post">
      {% csrf_token %}
      <br>
      <input type="text" name = "email" placeholder=" Enter Your Email Here................."><br><br>
      <textarea name="message" rows="5" cols="50" placeholder="We would love to hear about us from you."></textarea>
      <br><br>
      <button type="butoon" class="btn btn-success">Submit</button>


  </form>
   </section>
{% endblock body %}




