{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block body %}

<form action="login" method="post">
    {% csrf_token %}
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="mt-3 mx-5">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show mt-3 mx-5" role="alert">
    <strong>Holy guacamole!</strong> {{ message }} !!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% endblock body %}