{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}

    {% load static %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show mt-3 mx-5" role="alert">
    <strong>Holy guacamole!</strong> {{ message }} !!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}
<body  class = "profile_back">
    <div class=" card mx-auto  fback" style="max-width: 400px; margin-top:100px;">


        <div class="card-body ">

            <div  style="text-align: center; "> <img src="{% static 'images/emporium_black.png' %}" width="40" height="40"><b> eMPORIUM</b></div>
        </div>
        
        <div class=" card mx-auto faback " style="height: 450px; width: 350px; margin-top: 20 px;" >
            <div class="card-body ">
      <h5 class="card-title mb-4" >Login Here   </h5>
      <hr>


<form action="login" method="post">
    {% csrf_token %}
    	 <div class="form-group">
            <i class="fas fa-user-tie"></i>
        <label for="exampleInputPassword1" class="form-label" >Username</label>
        <input type="text" class="form-control" name="username" placeholder="username" style = "color: #8d8d8a;">
    </div>
    	 <div class="form-group">
            <i class="fas fa-unlock-alt"></i>
            
        <label for="exampleInputPassword1" class="form-label">Password</label>
       
        <input type="password" class="form-control" name="password" placeholder="password">
    </div>
    <br>
    <a href = "password_reset">Forgot Password???</a>
    	 <div class="form-group">
         <br>
    <button  type="submit" class="btn btn-danger text-center ">Submit</button>
    </div>

</form>
<p class="text-center mt-4"><h6 >Don't have account?</h6>
    <a href="{% url 'register' %}"><button class = "btn btn-info">Sign up</button></a>
</p>
<br><br>

</div>




    
</div>
</section>

</body>
{% endblock body %}
