<!doctype html>
{% load static  %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
     <link href="{% static 'emporium_black.png' %}" rel="shortcut icon" type="image/x-icon">
     <link href="/stylesheets/css_Sanford.css" rel="stylesheet" type="text/css" />

     <!--FontAwesome CSS-->
     <link rel="stylesheet" href="{% static '/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/mystyle.css' %}">


    

<body  class = "profile_back">
<section class="section-conten padding-y " style="min-height:84vh" >
<div class=" card mx-auto  profile" style="max-width: 380px; margin-top:100px;">


      <div class="card-body ">
      <h5 class="card-title mb-4" >Login Here   </h5>


<form action="login" method="post">
    {% csrf_token %}
    	 <div class="form-group">
            <i class="fas fa-user-tie"></i>
        <label for="exampleInputPassword1" class="form-label" >Username</label>
        <input type="text" class="form-control" name="username" placeholder="username" style = "color: #8d8d8a;">
    </div>
    	 <div class="form-group">
            <i class="fas fa-unlock-alt"></i>
            
        <label for="exampleInputPassword1" class="form-label">Password</label>
       
        <input type="password" class="form-control" name="password" placeholder="password">
    </div>
    <br>
    <a href = "#">Fogot Password???</a>
    	 <div class="form-group">
         <br>
    <button  type="submit" class="btn btn-danger text-center ">Submit</button>
    </div>

</form>
<p class="text-center mt-4"><h6 >Don't have account?</h6>
    <a href="{% url 'register' %}"><button class = "btn btn-primary">Sign up</button></a>
</p>
<br><br>

</div>


{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show mt-3 mx-5" role="alert">
    <strong>Holy guacamole!</strong> {{ message }} !!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

    
</div>
</section>

</body>
</html>