{% extends 'base.html' %}

{% block title %}Modify{% endblock title %}

{% block body %}
<div class="editprofile">
    <hr>
    <form action="modify" method="post">
    {% csrf_token %}
    <div class="mt-3 mx-5">
    <h3>Modify Product Details</h3>
        <label for="exampleInputPassword1" class="form-label">Name/Title</label>
        <input type="text" class="form-control" name="name" value="{{product.name}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Brand</label>
        <input type="text" class="form-control" name="brand" value="{{product.brand}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input type="Integer" class="form-control" name="price" value="{{product.price}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Description</label>
        <input type="text" class="form-control" name="description" value="{{product.description}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Stock</label>
        <input type="integer" class="form-control" name="stock" value="{{product.stock}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Detail</label>
        <input type="text" class="form-control" name="detail" value="{{product.detail}}">
    </div>
    <div class="mt-3 mx-5">
        <label for="exampleInputPassword1" class="form-label">Available Offer</label>
        <input type="text" class="form-control" name="available_offer" value="{{product.available_offer}}">
    </div>
    <input type = "hidden" name = "slug" value = "{{product.slug}}" />
    <div class="mt-3 mx-5">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
    <hr>
</div>
{% endblock body %}