


{% extends 'base.html' %}

{% block title %}Modify{% endblock title %}
{% load static %}
{% block body %}
<div class=" card mx-auto  fback" style="max-width: 465px; margin-top:30px;">


    <div class="card-body ">

        <div  style="text-align: center; "> <img src="{% static 'images/emporium_black.png' %}" width="40" height="40"><b> eMPORIUM</b></div>
    </div>
    
    <div class=" card mx-auto faback " style="height: 900px; width: 420px; margin-top: 20 px;" >
        <div class="card-body ">
    <div class="form-row">
    <h3>Modify Product Details</h3>
    
    <hr>
    <form action="modify" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">

            <label for="exampleInputPassword1" class="form-label">Name/Title</label>
        <input type="text" class="form-control" name="name" value="{{product.name}}">        </div>

    </div>
    <br>
    <div class="row">
        <div class="col">

            <label for="exampleInputPassword1" class="form-label">Brand</label>
            <input type="text" class="form-control" name="brand" value="{{product.brand}}">
            </div>

    </div>
    <br>
    <div class="row">
        <div class="col">

            <label for="exampleInputPassword1" class="form-label">Price</label>
             <input type="Integer" class="form-control" name="price" value="{{product.price}}">
      </div>

    </div>
    <br>
   
    <div class="row">
        <div class="col">
            
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <textarea type="text" class="form-control" name="description" >{{product.description}}
        </textarea></div>

    </div>
    <br>
    <div class="row">
        <div class="col">

            <label for="exampleInputPassword1" class="form-label">Stock</label>
            <input type="integer" class="form-control" name="stock" value="{{product.stock}}">
          </div>

    </div>
    <br>
    <div class="row">
        <div class="col">

            <label for="exampleInputPassword1" class="form-label">Detail</label>
            <textarea type="text" class="form-control" name="detail" >{{product.detail}}</textarea>
            </div>

    </div>
    <br>

    <div class="row">
        <div class="col">

            <label for="exampleInputPassword1" class="form-label">Available Offer</label>
            <input type="text" class="form-control" name="available_offer" value="{{product.available_offer}}">
                </div>

    </div>
    <br>
    
    <input type = "hidden" name = "slug" value = "{{product.slug}}" />
    <div class="mt-3 mx-5" style="text-align: center;">
    <button type="submit" class="btn btn-success">Submit</button>
    </div>
    </form>
    
</div>
{% endblock body %}