{% extends 'base.html' %}
{% load static %}
{% block title %}Myorder{% endblock title %}
{% block body %}

<h1>My Orders</h1>
<hr>


<div class="row">
  <div class="col-lg-12">
    <div class="box-element "id = "order">
      <h6> Order No: 1234567890</h6>
      <h6> Order Status: Delivering</h6>
      {% for cart in carts%}
      <hr>
      <div class="cart-row">
        
       
        <div style="flex:2"><img src="{{cart.product.image.url}}" class="img-fluid img-thumbnail shadow-sm" height="100" width="150"></div>
        <div style="flex:2">{{cart.product.name}}</div>
        <div style="flex:1">Quantity:{{cart.quantity}}</div>

        <div style="flex:1" ><button type="button" class="btn btn-warning edit">processing</button></div>
        <div style="flex:1">Ordered on: ordered time</div>
        <hr>
        
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<br>

{% endblock body %}