
{% extends 'base.html' %}
{% load static %}

{% block title %}Product Detail{% endblock title %}

{% block body %}
{% if user.username == seller%} 
<div class="isa_info">
    <i class="fa fa-info-circle"></i>
    THIS IS THE SAME PRODUCT YOU UPLOADED SO YOU CAN'T BUY YOUR OWN PRODUCT
</div>
{% endif %}
{% for product in products %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.image.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1 pro">
   <h2>{{product.name}}</h2>
   <hr>
   <p>{{product.description}}</p> 
   {% if product.detail %}
   <h5>Details</h5>
   <p>{{product.detail}}</p>
   {% endif %}
   <p> Brand: <strong>{{product.brand}}</strong></p>
   
   <h4><i class="fas fa-tags"></i> Rs. {{product.price}}</h4>
   <hr>
    {% if request.user.is_authenticated %} 
     {% if user.username == seller %} 
    <h5>Product stock: {{product.stock}}</h5>
      <a href="{% url 'delete' product.id %}" class="btn btn-danger shadow px-5 py-2 ms-4">Delete</a>
      <a href="{% url 'modify' product.slug %}" class="btn btn-secondary shadow px-5 py-2 ms-4">Modify</a>
    <hr>

    {% elif stock_quantity == 0 %} 
    <a href="#" class="btn btn-danger shadow px-5 py-2 ms-4">Out of Stock</a>
    <hr>
   {% elif is_item_in_cart %}
   
       <a href="{% url 'showcart' %}" class="btn btn-success shadow px-5 py-2 ms-4">Go to Cart</a>
        <hr>
       {% else %}
    <form action="{% url 'addtocart' %}" class="d-inline">
        <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
        <button type="submit" class="btn btn-default shadow px-5 py-2 ms-4 rounded-pill">Add to Cart</button>
        
    </form>
     <a href="{% url 'buynow' product.slug %}" class="btn btn-def shadow px-5 py-2 ms-4 rounded-pill">Buy Now</a>
    <hr>
{% endif %}
   {% endif %}


   {% if not request.user.is_authenticated %}
        {% if stock_quantity == 0 %} 
            <a href="#" class="btn btn-danger shadow px-5 py-2 ms-4">Out of Stock</a>
            <hr>
            {% else %}
    <form action="{% url 'login' %}" class="d-inline">
            <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
            <button type="submit" class="btn btn-dark shadow px-5 py-2">Add to Cart</button>
            <a href="{% url 'login' %}" class="btn btn-def shadow px-5 py-2 ms-4">Buy Now</a>
        </form>
        {% endif %}
   {% endif %}
  
   <h5 class="mt-5">Available Offers</h5>
   <ul>
    <p>{{product.available_offer}}</p>
     </ul>
  </div>
 </div>
</div>
{% endfor %}
{% endblock body %}