{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Registeration{% endblock title %}

{% block body %}

    {% load static %}

<body  class = "profile_back"></body>
<section class="section-content padding-y">

<div class="card mx-auto profile" style="max-width:520px; margin-top:40px;">
      <article class="card-body">


    <div class="form-row">
      <h4 class="card-title mb-4">Register Here</h4>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show mt-3 mx-5" role="alert">
    <strong>Holy guacamole!</strong> {{ message }} !!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <form action="register" method="post">
    {% csrf_token %}

    <div class="form-row">
    <div class="col form-group">

        <label for="exampleInputPassword1" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firstname">
    </div>
    <div class="form-row">
    <div class="col form-group">
        <label for="exampleInputPassword1" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="lastname">
    </div>
    <div class="form-row">
    <div class="col form-group">
        <label for="exampleInputPassword1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="form-row">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="form-row">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password1">
    </div>
    <div class="form-row">
    <div class="col form-group">
        <label for="exampleInputPassword1" class="form-label">Re-Enter Password</label>
        <input type="password" class="form-control" name="password2" id="exampleInputPassword1">
    </div>
    <div class="form-row">
    <div class="col form-group">
        <label for="exampleInputPassword1" class="form-label">Phone Number</label>
        <input type="Integer" class="form-control" name="phone_number">
    </div>
    <div class="form-row">
    <div class="col form-group">
        <label for="exampleInputPassword1" class="form-label">Region</label>
        <input type="text" class="form-control" name="region">
    </div>
    <div class="form-row">
        <label for="exampleInputPassword1" class="form-label">City</label>
        <input type="text" class="form-control" name="city">
    </div>
    <div class="form-row">
    <div class="col form-group">
        <label for="exampleInputPassword1" class="form-label">Area</label>
        <input type="text" class="form-control" name="area">
    </div>
    <div class="form-row">
    <div class="col form-group">
        <label for="exampleInputPassword1" class="form-label">Locale</label>
        <input type="text" class="form-control" name="locale">
    </div>
    <div class="form-row">
    <div class="col form-group">
        <label for="exampleInputPassword1" class="form-label">Google Maps Link</label>
        <input type="text" class="form-control" name="gmap">
    </div>
     <div class="form-row">
    <div class="col form-group">
        {{form | crispy}}
    </div>
    <div class="form-row">
    <div class="col form-group">
    <button type="submit" class="btn btn-primary text-center">Submit</button>
    </div>
    <br>
    <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>

    </form>
    </article>
</section>
 </div> <!-- card .// -->
{% endblock body%}

