{% extends 'base.html' %}
{% load static %}

{% block title %}Search{% endblock title %}

{% block body %}
<div class="ourheading">
Search

</div>
    
    <div class="album py-5 bg-light">
    <div class="container">
     <h4>  <strong> {{q}}</strong></h4>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
      {% for product in products %}
 <div class="col-md-3">
		<div class="card card-product-grid">
      <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.image.url }}"width="400" height="250"
           class="d-block w-100" alt="..."></a>
     <div class="card-body">

            <div  class='card-body left product_name'>{{product.name}} </div>
           <div class='card-body right'>Rs.{{product.price}} </div>
                
                </div>
              <div class="d-grid gap-2">
              <a href="{% url 'productdetail' product.slug %}" class="btn btn-success  btn-lg btn-block width-100" role="button">View Item</a>

              <a href="{% url 'addtocarts' product.slug %}" class="btn btn-primary btn-lg btn-block width-100" role="button">Add to Cart</a>
             
           
</div>
				
		</div>
	</div>
  
          
      {% endfor %}
    </div>





     
{% endblock body %}