{% extends 'base.html' %}
{% load crispy_forms_tags %}  
{% load static %}
{% block title %}
Upload
{% endblock title %}

{% block body %}

<div class=" card mx-auto  fback" style="max-width: 465px; margin-top:30px;">


    <div class="card-body ">

        <div  style="text-align: center; "> <img src="{% static 'images/emporium_black.png' %}" width="40" height="40"><b> eMPORIUM</b></div>
    </div>
    
    <div class=" card mx-auto faback " style="height: 1350px; width: 400px; margin-top: 20 px;" >
        <div class="card-body ">
    <div class="form-row">
    <h5>Upload Product</h5>
    <hr>
        
    <form method='post' enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <div style="text-align: center;">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
    </form>
    </div>
    <br>
</div>

{% endblock body %}